program/lcs/xsd/comp/table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.flyread.com.cn/columnTable"
           xmlns:p="http://www.flyread.com.cn/panel"
           elementFormDefault="qualified">

    <xs:import namespace="http://www.flyread.com.cn/panel"/>

    <xs:element name="args" substitutionGroup="p:args" type="columnTableArgs" />
    <xs:complexType name="columnTableArgs" >
        <xs:complexContent>
            <xs:extension base="p:panelArgs">
                <xs:attribute name="rowNum" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>